<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Event_Management_System</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>fetch-allevents</display-name>
    <servlet-name>fetch-allevents</servlet-name>
    <servlet-class>search_all_events</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fetch-allevents</servlet-name>
    <url-pattern>/fetch-allevents</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerurl</display-name>
    <servlet-name>registerurl</servlet-name>
    <servlet-class>register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerurl</servlet-name>
    <url-pattern>/registerurl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginurl</display-name>
    <servlet-name>loginurl</servlet-name>
    <servlet-class>login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginurl</servlet-name>
    <url-pattern>/loginurl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteeventurl</display-name>
    <servlet-name>deleteeventurl</servlet-name>
    <servlet-class>deleteeventservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteeventurl</servlet-name>
    <url-pattern>/deleteeventurl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchusersurl</display-name>
    <servlet-name>searchusersurl</servlet-name>
    <servlet-class>searchusers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchusersurl</servlet-name>
    <url-pattern>/searchusersurl</url-pattern>
  </servlet-mapping>
</web-app>